{% load static %}

<header class="section-header">
<!-- <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
      <a href="#" class="nav-link"></a>

    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link"></a>
    </li>
    </ul>

  </div> 
</div> 
</nav> -->

<section class="header-main border-bottom" style="background-color: #fff;">
  <div class="container">
    <div class="header-brand">
      <a href="{% url 'home' %}" class="brand-wrap">
        <span class="brand-text">MediSunshine</span>
      </a>
    </div>

    <div class="header-mobile d-md-none">
      <div class="header-mobile-row">
        <div class="dropdown header-mobile-category">
          <button class="header-btn-icon dropdown-toggle" type="button" id="mobileCategoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="mobileCategoryDropdown">
            <a class="dropdown-item" href="{% url 'store' %}">Mostrar Todos</a>
            {% for category in links %}
            <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
            {% endfor %}
          </div>
        </div>

        <div class="header-greeting header-mobile-greeting">
          {% if user.id is None %}
          <span class="greeting-title">Bienvenido a MediSunshine</span>
          <div class="greeting-links">
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <span class="separator">|</span>
            <a href="{% url 'register' %}">Registrarse</a>
          </div>
          {% else %}
          <span class="greeting-title">Hola, {{ user.first_name }}</span>
          <div class="greeting-links">
            <a href="{% url 'dashboard' %}">Mi cuenta</a>
            <span class="separator">|</span>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
          </div>
          {% endif %}
        </div>

        <button class="header-btn-icon header-mobile-search-btn" type="button" data-toggle="collapse" data-target="#mobileHeaderSearch" aria-expanded="false" aria-controls="mobileHeaderSearch">
          <i class="fa fa-search"></i>
        </button>

        <a href="{% url 'cart' %}" class="header-btn-icon header-mobile-cart">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
        </a>
      </div>

      <div class="collapse header-mobile-search" id="mobileHeaderSearch">
        <form action="{% url 'search' %}" class="search header-search-form">
          <div class="input-group w-100">
            <input type="text" class="form-control" placeholder="Buscar Productos" name="keyword">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="header-desktop d-none d-md-block">
      <div class="row align-items-center header-desktop-row">
        <div class="col-md-3 header-desktop-categories">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" id="desktopCategoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bars"></i> Categorías
            </button>
            <div class="dropdown-menu" aria-labelledby="desktopCategoryDropdown">
              <a class="dropdown-item" href="{% url 'store' %}">Mostrar Todos</a>
              {% for category in links %}
              <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="col-md-5 header-desktop-search">
          <form action="{% url 'search' %}" class="search header-search-form">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="Buscar Productos" name="keyword">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-4 header-desktop-user">
          <div class="header-greeting">
            {% if user.id is None %}
            <span class="greeting-title">Bienvenido a MediSunshine</span>
            <div class="greeting-links">
              <a href="{% url 'login' %}">Iniciar Sesión</a>
              <span class="separator">|</span>
              <a href="{% url 'register' %}">Registrarse</a>
            </div>
            {% else %}
            <span class="greeting-title">Bienvenido/a {{ user.first_name }}</span>
            <div class="greeting-links">
              <a href="{% url 'dashboard' %}">Mi cuenta</a>
              <span class="separator">|</span>
              <a href="{% url 'logout' %}">Cerrar sesión</a>
            </div>
            {% endif %}
          </div>

          <a href="{% url 'cart' %}" class="header-desktop-cart">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section> <!-- header-main .// -->




</header> <!-- section-header.// -->
